/*intro*/
.left-intro{
    display: flex;
    flex-direction: column;
    margin: 350px auto 0px auto;
    width: 90%;
}
.left-intro h1{
    font-size: 120px;
    margin-bottom: 4px;
}
.left-intro h2{
    font-size: 50px;
}
.left-intro p{
    font-size: 20px;
    margin-top: 5px;
}