#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#info {
    height: 1000px;
    display: flex;
    align-items: flex-start;
}

.info-txt {
    position: sticky;
    top: 0;
    padding: 80px;
    font-size: 15px;
    opacity: 0; 
    transform: translateY(20px);
}

  