@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@font-face {
  font-family: "Helvetica Neue";
  src: url(./fonts/HelveticaNeueBlack.otf);
}
@font-face {
  font-family: "HelveticaNowVar";
  src: url(./fonts/HelveticaNowVar.ttf);
}
*{
  margin: 0; 
  padding: 0;
}
.container{
  display: flex;
  flex-direction: row;
}
.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
}
.Text{
  width: 50%;
  margin-left: 50%;
}
body{
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  color: white;
}
h1{
  font-family: "Helvetica Neue";
  letter-spacing: 4px;
  font-size: 80px;
  margin-bottom: 4px;
}
h2{
  font-family: "Cutive Mono",sans-serif;
  letter-spacing: 1px;
  font-size: 33px;
}
p{
  font-family: "Cutive Mono",sans-serif;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  line-height: 26px;
}
.sep{
  border: 0;
  width: 4em;
  height: 2px;
  margin: 1em 0;
  background-color: rgba(255,255,255,0.4);
}